body {
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}
.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255,166,0,0.6);
    opacity: 0.4;
    animation: anim 8s forwards;
    filter: hue-rotate(0deg);
}

@keyframes anim{    /* créer l'animation de la bulle qui va du bas vers le haut, qui dure 8s et qui augmente son opacité */
    to {
        top: -250px;
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(720deg); /*fonction qui sert a faire changer de couleur 720deg correspond a 2x toute les couleur */

    }
}
h3 {
    font-size: 10rem;
    text-align: center;
    margin-top: 20px;
    color: rgba(128, 128, 128, 0.616);
}